.login-form {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.centro {
  text-align: center;
}

.imagce {
  display: block;
  margin-left: auto;
  margin-right: auto;
}